@using System.Globalization;
@using static HouseHelper.Controllers.FindHelperController;

@{
    ViewData["Title"] = "Trang chủ thuê người giúp việc";
   var total = Convert.ToInt32(ViewData["TotalJobPost"]);
}

@{
    Layout = "_Layout";
  
}
<section class="site-section">
    <div class="container">

        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-title mb-2">Bài đăng tuyển dụng: @ViewData["TotalJobPost"]</h2>
            </div>
            <br>
            @if(@total < 10){
                <p style="color:green;">Hãy tích cực đăng bài nhiều hơn để góp phần xây dựng trang nhé! Trân trọng cảm ơn bạn.</p>
            }
        </div>
        @foreach (var item in (IEnumerable<HouseHelper.Models.Job>)ViewData["MyListJob"])
        {
            <div _ngcontent-serverapp-c112="" class="col-grid-box w-100 mt-3 mb-4 ng-star-inserted">
                <job-detail-block _ngcontent-serverapp-c112="" _nghost-serverapp-c110="">
                    <div _ngcontent-serverapp-c110="" class="product-box ng-star-inserted" style="box-shadow: 0 0 8px 0 #ddd;border-radius: 7px;overflow: hidden;margin-top: 0!important;display: flex!important;padding: 0!important;">
                        <div _ngcontent-serverapp-c110="" class="img-wrapper_Custom w-10">
                            <a _ngcontent-serverapp-c110="" routerlinkactive="router-link-active" asp-action="JobSingle" asp-controller="FindHelper" asp-route-id="@item.Jobid">
                                <div _ngcontent-serverapp-c110="" class="front custom_front_rsume_image" style="overflow: hidden;height: 145px;width: 145px;margin: 15px 5px 15px 15px;border-radius: 50%;border: 1px solid #707070;">
                                    <img _ngcontent-serverapp-c110="" loading="lazy" alt="Urgently looking for helper to start work immediately " src="/images/@item.JobImage" style="width: 100%;height: 100%;">
                                </div>
                            </a><div _ngcontent-serverapp-c110="" class="listing-sub-title-agency text-left w-20 mt-2" style="font-weight: 500;">
                                <label _ngcontent-serverapp-c110="" for="lable_type" class="label_blue" style="background: #054a84;/* height: 30px; *//* line-height: 30px; */z-index: 2;text-align: center;display: inline-block;width: 88.053333%;color: #fefefe;font-weight: 500;clip-path: polygon(100% 0,90% 50%,100% 100%,0 100%,0 0,0 0);border-bottom: 2px solid #ebba16;"><!----><span _ngcontent-serverapp-c110="" class="ng-star-inserted">Direct</span><!----></label>
                            </div>
                        </div><div _ngcontent-serverapp-c110="" class="product-detail w-100 pt-2 align-self-baseline text-left" style="margin: 0 auto;padding: 10px!important;text-align: left!important;">
                            <a _ngcontent-serverapp-c110="" routerlinkactive="router-link-active" asp-action="JobSingle" asp-controller="FindHelper" asp-route-id="@item.Jobid" style="text-decoration: none !important;">
                                <!----><h4 _ngcontent-serverapp-c110="" class="product-title" style="word-break: break-word;font-size: calc(18px + (15 - 12) * ((100vw - 300px) / (1920 - 300)))!important;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;color: #054a84;font-weight: 600;margin-bottom: 0;transition: all .5s ease;"> @item.JobTitle  </h4><h5 _ngcontent-serverapp-c110="" class="product-sub-title mt-1 mr-2" style="font-size: calc(14px + (15 - 12) * ((100vw - 300px) / (1920 - 300)))!important;color: #666;padding-top: 0;font-weight: 700;display: inline-block;">
                                    <span _ngcontent-serverapp-c110="" class="ng-star-inserted"> @item.JobName | @item.JobGender | </span><!----><!---->
                                </h5><h5 _ngcontent-serverapp-c110="" class="product-sub-title mt-1" style="font-size: calc(14px + (15 - 12) * ((100vw - 300px) / (1920 - 300)))!important;color: #666;padding-top: 0;font-weight: 700;display: inline-block;">
                                    <i _ngcontent-serverapp-c110="" aria-hidden="true" class="icon-map-marker mr-2" style="color:green;"></i>@ViewData["location"]
                                </h5><!----><div _ngcontent-serverapp-c110="" class="product-description mt-2" style="word-break: break-word;font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1920 - 300)))!important;text-align: justify;height: 75px;line-height: 18px;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;color: #333!important;letter-spacing: normal;">
                                    @item.JobDescription
                                </div><div _ngcontent-serverapp-c110="" class="product-footer" style="padding-top: 25px;color:#054a84;">
                                    <h5 _ngcontent-serverapp-c110="" class="footer-experience" style="display: inline-block;font-size: calc(14px + (15 - 12) * ((100vw - 300px) / (1920 - 300)))!important;font-weight: 700;margin-right: 5px;">
                                        <i _ngcontent-serverapp-c110="" class="prize-badge-with-star-and-ribbon"></i> Tìm người giúp việc | @item.JobType
                                    </h5><h5 _ngcontent-serverapp-c110="" class="footer-date" style="margin-left: 10px;display: inline-block;font-size: calc(14px + (15 - 12) * ((100vw - 300px) / (1920 - 300)))!important;font-weight: 700;margin-right: 5px;">
                                        <i _ngcontent-serverapp-c110="" class="fa fa-calendar"></i> @item.JobStart.Value.Day/@item.JobStart.Value.Month/@item.JobStart.Value.Year
                                    </h5><h5 _ngcontent-serverapp-c110="" class="footer-active ng-star-inserted" style="margin-left: 10px;color: #25ae88;display: inline-block;font-size: calc(14px + (15 - 12) * ((100vw - 300px) / (1920 - 300)))!important;font-weight: 700;margin-right: 5px;">
                                        <i _ngcontent-serverapp-c110="" aria-hidden="true" class="fa fa-circle"></i>Very Active
                                    </h5><!---->
                                </div>
                            </a>
                        </div>
                    </div><!----><!----><!---->
                </job-detail-block>
            </div>
        }
        </div>

</section>

<section _ngcontent-serverapp-c88="" class="powerful-feature team ng-star-inserted" style="background-color: #f1f1f1;padding: 50px 0;">
    <div _ngcontent-serverapp-c88="" class="container">
        <div _ngcontent-serverapp-c88="" class="row">
            <div _ngcontent-serverapp-c88="" class="col-lg-12 col-md-12 col-sm-12">
                <div _ngcontent-serverapp-c88="" class="title title2 powerful-feature-header" style="text-align: center;">
                    <img _ngcontent-serverapp-c88="" loading="lazy" alt="HelperĐặt Logo" class="img-fluid title-img" src="https://cdn.helperplace.com/web-asset/images/Just_logo.png" style="height: 50px;">
                    <div _ngcontent-serverapp-c88="" class="borders main-text">
                        <span _ngcontent-serverapp-c88="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">TÍNH NĂNG</font>
                            </font>
                        </span>
                    </div>
                    <div _ngcontent-serverapp-c88="" class="title title2">
                        <div _ngcontent-serverapp-c88="" class="sub-title">
                            <h2 _ngcontent-serverapp-c88="" class="section-header text-capitalize text-center">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Tìm kiếm và chọn lọc</font>
                                </font>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-12 col-sm-11 col-md-4 col-lg-4 col-xl-4 my-2 py-1">
                <div _ngcontent-serverapp-c88="" class="team-slider p-3" style="background: #fff;border-radius: 10px;box-shadow: 0 0 20px rgba(0,0,0,.14);border: 1px solid #fff;transition: .5s;">
                    <div _ngcontent-serverapp-c88="" class="team-container text-center">
                        <div _ngcontent-serverapp-c88="" class="text-center">
                            <img _ngcontent-serverapp-c88="" loading="lazy" alt="HelperNơi hỗ trợ" width="60px" hight="60px" class="img-fluid members my-2 mx-auto" src="https://cdn.helperplace.com/web-asset/images/helper-support.png">
                            <h3 _ngcontent-serverapp-c88="" style="font-weight: 600;padding: 10px 0;font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));margin-top: -4px;margin-bottom: 0;color: #054a84;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nhanh chóng và an toàn</font>
                                </font>
                            </h3>
                            <p _ngcontent-serverapp-c88="">
                            </p><p>
                                <b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Không có người trung gian</font>
                                    </font>
                                </b>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> và nhiều sự lựa chọn hơn. </font>
                                    <font style="vertical-align: inherit;">
                                        Nền tảng minh bạch, đáng tin cậy, thuận lợi
                                        và có đạo đức.
                                    </font>
                                    <font style="vertical-align: inherit;">
                                        Tự mình kiểm soát tất cả quá trình tuyển
                                        dụng.
                                    </font>
                                </font>
                            </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-12 col-sm-11 col-md-4 col-lg-4 col-xl-4 my-2 py-1">
                <div _ngcontent-serverapp-c88="" class="team-slider p-3" style="background: #fff;border-radius: 10px;box-shadow: 0 0 20px rgba(0,0,0,.14);border: 1px solid #fff;transition: .5s;">
                    <div _ngcontent-serverapp-c88="" class="team-container text-center">
                        <div _ngcontent-serverapp-c88="" class="text-center">
                            <img _ngcontent-serverapp-c88="" loading="lazy" alt="Tính năng HelperPlace" width="60px" hight="60px" class="img-fluid members my-2 mx-auto" src="https://cdn.helperplace.com/web-asset/images/helper-display.png">
                            <h3 _ngcontent-serverapp-c88="" style="font-weight: 600;padding: 10px 0;font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));margin-top: -4px;margin-bottom: 0;line-height: normal;color: #054a84;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> Nhà tuyển dụng</font>
                                </font>
                            </h3>
                            <p _ngcontent-serverapp-c88="">
                            </p><p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Ứng viên có sẵn. </font>
                                    <font style="vertical-align: inherit;">Tìm kiếm, so sánh, </font>
                                </font><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            nhắn tin trực tiếp hoặc sử dụng bộ phân
                                            tích phù hợp của chúng tôi.
                                        </font>
                                    </font>
                                </b>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Phỏng vấn và tuyển dụng không căng thẳng.
                                    </font>
                                </font>
                            </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div _ngcontent-serverapp-c88="" class="col-12 col-sm-11 col-md-4 col-lg-4 col-xl-4 my-2 py-1">
                <div _ngcontent-serverapp-c88="" class="team-slider p-3" style="background: #fff;border-radius: 10px;box-shadow: 0 0 20px rgba(0,0,0,.14);border: 1px solid #fff;transition: .5s;">
                    <div _ngcontent-serverapp-c88="" class="team-container text-center">
                        <div _ngcontent-serverapp-c88="" class="text-center">
                            <img _ngcontent-serverapp-c88="" loading="lazy" alt="công việc trợ giúp" width="60px" hight="60px" class="img-fluid members my-2 mx-auto" src="https://cdn.helperplace.com/web-asset/images/helper-job.png">
                            <h3 _ngcontent-serverapp-c88="" style="font-weight: 600;font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));margin-top: -4px;margin-bottom: 0;color: #054a84;padding: 10px 0;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Người tìm việc</font>
                                </font>
                            </h3>
                            <p _ngcontent-serverapp-c88="">
                            </p><p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Nhận khả năng hiển thị để tìm một nhà tuyển
                                        dụng mới và có được một công việc tốt hơn.
                                    </font>
                                </font><b>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Hồ sơ dễ dàng và miễn phí 100%</font>
                                    </font>
                                </b>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> (không phí xếp lớp, không trừ lương)</font>
                                </font>
                            </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>