@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@using static HouseHelper.Controllers.JobSeekerController;
@{
    var userId = User.FindFirstValue("userId");
    var username = User.FindFirstValue("username");
    var userImg = User.FindFirstValue("userImg");
    @if (userImg == "")
    {
        userImg = "/images/default-avatar.png";
    }
    else if (userImg != "")
    {
        userImg = userImg == null ? "" : $"/images/{userImg.ToString()}";
    }

    var FindhelperImg = User.FindFirstValue("FindhelperImg");
    @if (FindhelperImg == "")
    {
        FindhelperImg = "/images/default-avatar.png";
    }
    else if (FindhelperImg != "")
    {
        FindhelperImg = FindhelperImg == null ? "" : $"/images/{FindhelperImg.ToString()}";
    }

    var Cv = User.FindFirstValue("CV");
    @if (Cv == "")
    {
        Cv = "/JobSeeker/CreateCV";
    }
    else if (Cv != "")
    {
        Cv = Cv == null ? "" : $"/JobSeeker/ViewCV/{userId.ToString()}";
    }
    var JobseekerName = User.FindFirstValue("JobseekerName");
    JobseekerName = JobseekerName == null ? "" : $"{JobseekerName.ToString()}";
    var FindhelperName = User.FindFirstValue("FindhelperName");
    FindhelperName = FindhelperName == null ? "" : $"{FindhelperName.ToString()}";

}
@{
    Layout = null;
}
<head>
    <title>JobBoard &mdash; Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" href="ftco-32x32.png">

    <link rel="stylesheet" href="/css/custom-bs.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/fonts/line-icons/style.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .logo {
            width: 120px;
        }

        .user-pic {
            width: 40px;
            border-radius: 50%;
            cursor: pointer;
            margin-left: 30px;
        }

        nav ul {
            width: 100%;
            text-align: right;
        }

            nav ul li {
                display: inline-block;
                list-style: none;
                margin: 10px 20px;
            }

                nav ul li a {
                    color: #fff;
                    text-decoration: none;
                }

        .sub-menu-wrap {
            position: absolute;
            top: 100%;
            right: 1%;
            width: 320px;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.5s;
        }

            .sub-menu-wrap.open-menu {
                max-height: 400px;
            }

        .sub-menu {
            background: #fff;
            padding: 20px;
            margin: 10px;
            border: 2px solid #fff;
            padding: 10px;
            border-radius: 10px;
        }

        .user-info {
            display: flex;
            align-items: center;
        }

            .user-info h3 {
                font-weight: 500;
            }

            .user-info img {
                width: 60px;
                border-radius: 50%;
                margin-right: 15px;
            }

        .sub-menu hr {
            border: 0;
            height: 1px;
            width: 100%;
            background: #ccc;
            margin: 15px 0 10px;
        }

        .sub-menu-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #525252;
            margin: 12px 0;
        }

            .sub-menu-link p {
                width: 100%;
            }

            .sub-menu-link img {
                width: 40px;
                background-color: #e5e5e5;
                border-radius: 50%;
                padding: 8px;
                margin-right: 15px;
            }

            .sub-menu-link span {
                font-size: 22px;
                transition: transform 0.5s;
            }

            .sub-menu-link:hover span {
                transform: translateX(5px);
            }

            .sub-menu-link:hover p {
                font-weight: 600;
            }
    </style>
</head>
<body id="top">

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        <!-- NAVBAR -->
        <header class="site-navbar mt-3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="site-logo col-6"><a asp-controller="JobSeeker" asp-action="Index">HouseHelperService</a></div>
                    @if (User.IsInRole("JobSeeker"))
                    {
                        <nav class="mx-auto site-navigation">
                            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                                <li><a asp-area="" asp-controller="JobSeeker" asp-action="Index" class="nav-link active">Trang Chủ</a></li>

                                <li><a href="@Cv">Đăng CV</a></li>
                                <li>
                                    <a asp-controller="JobSeeker" asp-action="GetAllJob">Danh sách đơn tuyển dụng</a>
                                </li>
                                <li class="has-children">
                                    <a asp-controller="JobSeeker" asp-action="Profile">Thông tin cá nhân</a>
                                    <ul class="dropdown">
                                        <li><a asp-controller="JobSeeker" asp-action="Edit" asp-route-id="@userId">Cập nhật thông tin</a></li>
                                        <li><a asp-asp-controller="JobSeeker" asp-action="ChangePassWord" asp-route-id="@userId">Đổi mật khẩu</a></li>
                                    </ul>
                                </li>
                                @*                                <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li class="d-lg-none"><a href="post-job.html"><span class="mr-2">+</span> Post a Job</a></li>
                            <li class="d-lg-none"><a href="login.html">Log In</a></li>*@

                            </ul>
                        </nav>

                        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                            <div class="ml-auto">
                                @*<a href="/login" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
                            <a href="/login" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>*@

                                <img src="@Url.Content(userImg)" class="user-pic" onclick="toogleMenu()">
                                <span style="color:white; margin-left:1rem;"> <strong>@JobseekerName</strong></span>
                                <div class="sub-menu-wrap" id="subMenu">
                                    <div class="sub-menu">
                                        <div class="user-info">
                                            <img src="@Url.Content(userImg)" alt="">
                                            <span style="color:black">Xin chào,<strong>@JobseekerName </strong></span>
                                        </div>
                                        <hr>

                                        <a asp-area="" asp-controller="JobSeeker" asp-action="Profile" class="sub-menu-link">
                                            <img src="/images/profile.png" alt="">
                                            <p style="text-align:left!important">Thông tin cá nhân</p>
                                            <span>></span>
                                        </a>
                                        <a href="@Cv" class="sub-menu-link">
                                            <img src="/images/setting.png" alt="">
                                            <p style="text-align:left!important">CV của tôi</p>
                                            <span>></span>
                                        </a>
                                        <a asp-asp-controller="JobSeeker" asp-action="ChangePassWord" asp-route-id="@userId" class="sub-menu-link">
                                            <img src="/images/help.png" alt="">
                                            <p style="text-align:left!important">Đổi mật khẩu</p>
                                            <span>></span>
                                        </a>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-area="" asp-controller="JobSeeker" asp-action="Logout" class="sub-menu-link">
                                                <img src="/images/logout.png" alt="">
                                                <p style="text-align:left!important">Đăng Xuất</p>
                                                <span>></span>
                                            </a>
                                        }

                                    </div>
                                </div>
                                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                            </div>

                        </div>
                    }
                    else if (User.IsInRole("FindHelper"))
                    {
                        <nav class="mx-auto site-navigation">
                            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                                <li><a href="index.html" class="nav-link active">Home</a></li>
                                <li><a asp-controller="FindHelper" asp-action="PostJob" asp-route-id="@userId">Đăng bài tuyển dụng</a></li>
                                <li class="has-children">
                                    <a href="job-listings.html">Job Listings</a>
                                    <ul class="dropdown">
                                        <li><a href="job-single.html">Job Single</a></li>
                                        <li><a href="post-job.html">Post a Job</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="services.html">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="service-single.html">Service Single</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                        <li><a href="portfolio.html">Portfolio</a></li>
                                        <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="faq.html">Frequently Ask Questions</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li class="d-lg-none"><a href="post-job.html"><span class="mr-2">+</span> Post a Job</a></li>
                                <li class="d-lg-none"><a href="login.html">Log In</a></li>

                            </ul>
                        </nav>

                        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                            <div class="ml-auto">
                                @*<a href="/login" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
                            <a href="/login" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>*@
                                <img src="@Url.Content(FindhelperImg)" class="user-pic" onclick="toogleMenu()">
                                <span style="color:white; margin-left:1rem;"> <strong>@FindhelperName</strong></span>
                                <div class="sub-menu-wrap" id="subMenu">
                                    <div class="sub-menu">
                                        <div class="user-info">
                                            <img src="@Url.Content(FindhelperImg)" alt="">
                                            <span style="color:black">Xin chào, <strong>@FindhelperName</strong></span>
                                        </div>
                                        <hr>
                                        <a asp-area="" asp-controller="FindHelper" asp-action="FindHelperProfile" class="sub-menu-link">
                                            <img src="/images/profile.png" alt="">
                                            <p style="text-align:left!important">Thông tin cá nhân</p>
                                            <span>></span>
                                        </a>
                                        <a asp-controller="FindHelper" asp-action="GetMyJob" class="sub-menu-link">
                                            <img src="/images/setting.png" alt="">
                                            <p style="text-align:left!important">Bài đăng của tôi</p>
                                            <span>></span>
                                        </a>
                                        <a asp-controller="FindHelper" asp-action="FindHelperChangePass" class="sub-menu-link">
                                            <img src="/images/help.png" alt="">
                                            <p style="text-align:left!important">Đổi mật khẩu</p>
                                            <span>></span>
                                        </a>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-area="" asp-controller="FindHelper" asp-action="Logout" class="sub-menu-link">
                                                <img src="/images/logout.png" alt="">
                                                <p style="text-align:left!important">Đăng Xuất</p>
                                                <span>></span>
                                            </a>
                                        }

                                    </div>
                                </div>
                                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                            </div>

                        </div>
                    }
                    else if (!User.IsInRole("JobSeeker") && !User.IsInRole("FindHelper"))
                    {
                        <nav class="mx-auto site-navigation">
                            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                                <li><a href="index.html" class="nav-link active">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li class="has-children">
                                    <a href="job-listings.html">Job Listings</a>
                                    <ul class="dropdown">
                                        <li><a href="job-single.html">Job Single</a></li>
                                        <li><a href="post-job.html">Post a Job</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="services.html">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="service-single.html">Service Single</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                        <li><a href="portfolio.html">Portfolio</a></li>
                                        <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="faq.html">Frequently Ask Questions</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li class="d-lg-none"><a href="post-job.html"><span class="mr-2">+</span> Post a Job</a></li>
                                <li class="d-lg-none"><a href="login.html">Log In</a></li>

                            </ul>
                        </nav>

                        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                            <div class="ml-auto">
                                <a href="/login" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
                                <a href="/login" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>
                            </div>
                        </div>
                        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                    }

                </div>
            </div>

        </header>
        <div>
            <section class="home-section section-hero overlay bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">

                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-12">
                            <div class="mb-5 text-center">
                                <h1 class="text-white font-weight-bold">The Easiest Way To Get Your Dream Job</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate est, consequuntur perferendis.</p>
                            </div>
                            <form method="get" asp-action="Search" asp-asp-controller="JobSeeker"  class="search-jobs-form">
                                <div class="row mb-5">
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                        <input type="text" class="form-control form-control-lg" name="WordSearch" value="@ViewData["getpostdetail"]" placeholder="Job title, Company...">
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                        <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true" name="LocationSearch" title="@ViewData["LocationSearch"]">
                                            <option> </option>
                                            <option>Hà Nội</option>
                                            <option>TP.Hồ Chí Minh</option>
                                            <option>Đà Nẵng</option>
                                            <option>Cần Thơ</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                        <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true" name="TypeSearch" title="@ViewData["TypeSearch"]">
                                            <option> </option>
                                            <option>Part Time</option>
                                            <option>Full Time</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <a href="#next" class="scroll-button smoothscroll">
                    <span class=" icon-keyboard_arrow_down"></span>
                </a>

            </section>
<section class="site-section">
    <div class="container">

        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-title mb-2">Số đơn tuyển dụng: @ViewData["totaljob"]</h2>
            </div>
        </div>
        @foreach (ListJobModel item in ViewBag.data)
        {
            <ul class="job-listings mb-5">
                <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                    <a asp-action="ViewJob" asp-controller="JobSeeker" asp-route-id="@item.id"></a>
                    <div class="job-listing-logo">
                        <img src="/images/@item.img" alt="Free Website Template by Free-Template.co" class="img-fluid">
                    </div>
                    <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                        <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                            <h2><strong style="color: #054a84; font-weight:600; ">@item.title</strong></h2>
                        </div>
                        <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                            <span class="icon-room"></span> @item.location
                        </div>
                        <div class="job-listing-meta">
                            <span class="badge badge-danger">@item.type</span>
                        </div>
                    </div>

                </li>

            </ul>
        }
        <div class="row pagination-wrap">
            <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                <span>Showing 1-7 Of 43,167 Jobs</span>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="custom-pagination ml-auto">
                    <a href="#" class="prev">Prev</a>
                    <div class="d-inline-block">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                    </div>
                    <a href="#" class="next">Next</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h2 class="text-white">Looking For A Job?</h2>
                <p class="mb-0 text-white lead">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci impedit.</p>
            </div>
            <div class="col-md-3 ml-auto">
                <a href="#" class="btn btn-warning btn-block btn-lg">Sign Up</a>
            </div>
        </div>
    </div>
</section>


<section class="site-section py-4">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-12 text-center mt-4 mb-5">
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <h2 class="section-title mb-2">Company We've Helped</h2>
                        <p class="lead">Porro error reiciendis commodi beatae omnis similique voluptate rerum ipsam fugit mollitia ipsum facilis expedita tempora suscipit iste</p>
                    </div>
                </div>

            </div>
            <div class="col-6 col-lg-3 col-md-6 text-center">
                <img src="images/logo_mailchimp.svg" alt="Image" class="img-fluid logo-1">
            </div>
            <div class="col-6 col-lg-3 col-md-6 text-center">
                <img src="images/logo_paypal.svg" alt="Image" class="img-fluid logo-2">
            </div>
            <div class="col-6 col-lg-3 col-md-6 text-center">
                <img src="images/logo_stripe.svg" alt="Image" class="img-fluid logo-3">
            </div>
            <div class="col-6 col-lg-3 col-md-6 text-center">
                <img src="images/logo_visa.svg" alt="Image" class="img-fluid logo-4">
            </div>

            <div class="col-6 col-lg-3 col-md-6 text-center">
                <img src="images/logo_apple.svg" alt="Image" class="img-fluid logo-5">
            </div>
            <div class="col-6 col-lg-3 col-md-6 text-center">
                <img src="images/logo_tinder.svg" alt="Image" class="img-fluid logo-6">
            </div>
            <div class="col-6 col-lg-3 col-md-6 text-center">
                <img src="images/logo_sony.svg" alt="Image" class="img-fluid logo-7">
            </div>
            <div class="col-6 col-lg-3 col-md-6 text-center">
                <img src="images/logo_airbnb.svg" alt="Image" class="img-fluid logo-8">
            </div>
        </div>
    </div>
</section>


<section class="bg-light pt-5 testimony-full">

    <div class="owl-carousel single-carousel">


        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center text-center text-lg-left">
                    <blockquote>
                        <p>&ldquo;Soluta quasi cum delectus eum facilis recusandae nesciunt molestias accusantium libero dolores repellat id in dolorem laborum ad modi qui at quas dolorum voluptatem voluptatum repudiandae.&rdquo;</p>
                        <p><cite></cite></p>
                    </blockquote>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-right">
                    <img src="images/person_transparent_2.png" alt="Image" class="img-fluid mb-0">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center text-center text-lg-left">
                    <blockquote>
                        <p>&ldquo;Soluta quasi cum delectus eum facilis recusandae nesciunt molestias accusantium libero dolores repellat id in dolorem laborum ad modi qui at quas dolorum voluptatem voluptatum repudiandae.&rdquo;</p>
                        <p><cite></cite></p>
                    </blockquote>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-right">
                    <img src="images/person_transparent.png" alt="Image" class="img-fluid mb-0">
                </div>
            </div>
        </div>

    </div>

</section>

<section class="pt-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center text-center text-md-left mb-5 mb-md-0">
                <h2 class="text-white">Get The Mobile Apps</h2>
                <p class="mb-5 lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci impedit.</p>
                <p class="mb-0">
                    <a href="#" class="btn btn-dark btn-md px-4 border-width-2"><span class="icon-apple mr-3"></span>App Store</a>
                    <a href="#" class="btn btn-dark btn-md px-4 border-width-2"><span class="icon-android mr-3"></span>Play Store</a>
                </p>
            </div>
            <div class="col-md-6 ml-auto align-self-end">
                <img src="images/apps.png" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </div>
        </div>
    </div>
</section>
            <footer class="site-footer">

                <a href="#top" class="smoothscroll scroll-top">
                    <span class="icon-keyboard_arrow_up"></span>
                </a>

                <div class="container">
                    <div class="col-12">
                        <h2 style="color:#fff; text-align:center"><strong>HOUSEHELPERSERVICES</strong></h2>
                        <br />
                        <p style="text-align:center">là một sản phẩm để kết nối người tìm việc và nhà tuyển dụng một cách dễ dàng và nhanh chóng.</p>
                    </div>
                    <br />
                    <div class="row text-center">
                        <div class="col-12">
                            <p class="copyright">
                                <small>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://localhost:7208/" target="_blank">HouseHelperServices</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

        <!-- SCRIPTS -->.
        <script>
            let subMenu = document.getElementById("subMenu");
            function toogleMenu() {
                subMenu.classList.toggle("open-menu");
            }
        </script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/isotope.pkgd.min.js"></script>
        <script src="/js/stickyfill.min.js"></script>
        <script src="/js/jquery.fancybox.min.js"></script>
        <script src="/js/jquery.easing.1.3.js"></script>
        /
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/jquery.animateNumber.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        /
        <script src="/js/bootstrap-select.min.js"></script>
        /
        <script src="/js/custom.js"></script>
</body>
</html>